html {
  overflow-y: scroll;
}

body {
  user-select: none;
}

#slider {
  background-color: #2f2f2f;
  margin: 0 auto;
}

#chords {
  width: auto;
  margin: 30px auto;
  padding: 35px 0px 40px 0px;
  display: flex;
  justify-content: center;
  background-color: teal;
}

.keyboard {
  border: 1px solid black;
}

.keyboard p {
  font-size: 12px;
}

svg {
  clip-path: inset(15px 0px 0px 0px);
  margin-top: -15px;
  touch-action: none;
}

.white-key {
  stroke: #555555;
  fill: #fffff7;
}

.black-key {
  stroke: #979797;
  fill: #4b4b4b;
}

.white-key.active {
  stroke-width: 2px;
  fill: aquamarine;
}

.black-key.active {
  stroke-width: 2px;
  stroke: #2f2f2f;
  fill: teal;
}

#todo {
  border: solid 1px #2f2f2f;
  font-size: 14px;
  margin: 10px 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

ul {
  margin-top: 5px;
  margin-bottom: 5px;
}

h3 {
  margin: 0px;
}
